<h1><%= @questionnaire.title %></h1>
<p><%= @questionnaire.description %></p>

<div class="card">
  <%# form_with(url: questionnaire_questions_path(@questionnaire), method: :put) do |f| %>
  <%= form_with(model: @questionnaire, url: questionnaire_questions_path(@questionnaire), method: :put) do |f| %>
    <section class="card">
      <%= f.button "add question", class: "button", type: :button, data: { behaviour: 'add-question-form' } %>

      <section data-target="questions-wrapper">
        <%= f.fields_for :questions do |existing_question_f| %>
          <div class="card question-form">
            <%= existing_question_f.hidden_field :id %>
            <%= existing_question_f.hidden_field :position %>
            <%= existing_question_f.hidden_field :_destroy, value: "0" %>

            <fieldset class="field field--stacked">
              <%= existing_question_f.label :name %>
              <%= existing_question_f.text_field :name, autofocus: true %>
            </fieldset>

            <fieldset class="field field--stacked">
              <%= existing_question_f.label :description %>
              <%=
                existing_question_f.text_area :description, autofocus: true,
                  style: "resize: vertical; min-height: 50px"
              %>
            </fieldset>

            <fieldset class="field field--stacked">
              <%= existing_question_f.label :value_type %>
              <%= existing_question_f.select :value_type, Question.value_types %>
            </fieldset>

            <fieldset class="field">
              <%= existing_question_f.check_box :is_emptyable %>
              <%= existing_question_f.label :is_emptyable, class: "checkable" %>
            </fieldset>

            <fieldset class="field">
              <%= f.button "remove", class: "button", type: :button, data: { behaviour: 'remove-question-form' } %>
              <%= f.button "move up", class: "button", type: :button, data: { behaviour: 'change-question-position-up' } %>
              <%= f.button "move down", class: "button", type: :button, data: { behaviour: 'change-question-position-down' } %>
            </fieldset>
          </div>
        <% end %>
      </section>

      <template data-target="question-form-template">
        <div class="card question-form">
          <%# CHILDIDTEMPLATE will modified by jquery %>
          <%= f.fields_for :questions, @questionnaire.questions.new, child_index: 'CHILDIDTEMPLATE' do |question_f| %>
            <%= question_f.hidden_field :position %>
            <%= question_f.hidden_field :_destroy, value: "0" %>

            <fieldset class="field field--stacked">
              <%= question_f.label :name %>
              <%= question_f.text_field :name, autofocus: true %>
            </fieldset>

            <fieldset class="field field--stacked">
              <%= question_f.label :description %>
              <%=
                question_f.text_area :description, autofocus: true,
                  style: "resize: vertical; min-height: 50px"
              %>
            </fieldset>

            <fieldset class="field field--stacked">
              <%= question_f.label :value_type %>
              <%= question_f.select :value_type, Question.value_types %>
            </fieldset>

            <fieldset class="field">
              <%= question_f.check_box :is_emptyable %>
              <%= question_f.label :is_emptyable, class: "checkable" %>
            </fieldset>

            <fieldset class="field">
              <%= f.button "remove", class: "button", type: :button, data: { behaviour: 'remove-question-form' } %>
              <%= f.button "move up", class: "button", type: :button, data: { behaviour: 'change-question-position-up' } %>
              <%= f.button "move down", class: "button", type: :button, data: { behaviour: 'change-question-position-down' } %>
            </fieldset>
          <% end %>
        </div>
      </template>
    </section>

    <div class="actions">
      <%= f.submit "save questions", class: "button" %>
    </div>
  <% end %>
</div>
