<h1>edit</h1>

<div class="card">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <fieldset class="field field--stacked">
      <% avatar_background_image_css = "background-image: url(#{url_for(current_user.avatar&.variant(resize_to_limit: [100, 100]))});" if current_user.avatar.attached? %>
      <%= f.label :avatar, id: "user_avatar_input", class: "field__dropimage", style: "#{avatar_background_image_css}" do %>
        <%= f.file_field :avatar, autofocus: true, accept: "image/png, image/jpeg", title: "click or drop image to change photo profile" %>
      <% end %>
    </fieldset>

    <fieldset class="field field--stacked">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </fieldset>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <fieldset class="field field--stacked">
      <%= f.label :password do %>
        Password
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "leave blank if you don't want to change it" %>
    </fieldset>

    <fieldset class="field field--stacked">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "leave blank if you don't want to change it" %>
    </fieldset>

    <fieldset class="field field--stacked">
      <%= f.label :current_password do %>
        Current Password
        <i>(we need your current password to confirm your changes)</i>
      <% end %>
      <%= f.password_field :current_password, autocomplete: "current-password", required: true %>
    </fieldset>

    <div class="actions">
      <%= f.submit "update", class: "button" %>
      <%= link_to "back", :back, class: "button" %>
    </div>
  <% end %>
</div>

<div class="card">
  <h3>cancel my account</h3>
  <p>Unhappy? <%= link_to "delete account", registration_path(resource_name), class: "button button--danger", id: 'user_destroy', data: { turbo_method: :delete, turbo_confirm: "are you sure?" } %></p>
</div>
