<h1>edit</h1>

<div class="card">
  <footer>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <fieldset class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </fieldset>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <fieldset class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </fieldset>

    <fieldset class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </fieldset>

    <fieldset class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </fieldset>

    <fieldset class="actions">
      <%= f.submit "update" %>
      <%= link_to "back", :back, class: "button" %>
    </fieldset>
  <% end %>
  </footer>
</div>

<div class="card">
  <header>
    <h3>cancel my account</h3>
  </header>
  <footer>
    <div>Unhappy? <%= link_to "delete account", registration_path(resource_name), class: "button error", id: 'user_destroy', data: { turbo_method: :delete, turbo_confirm: "are you sure?" } %></div>
  </footer>
</div>
