<div id="#questionnaire-hero" class="card card--no-line">
  <h1><%= @questionnaire.title %></h1>
  <p><%= @questionnaire.description %></p>
</div>

<%= render 'questionnaires/subnavbar' %>

<div id="questionnaire-main-view" class="card">
  <%= form_with(model: @submission, url: questionnaire_submissions_path(@questionnaire), method: :post) do |f| %>
      <%= f.fields_for :submission_values do |submission_values_f| %>
        <fieldset class="field field--stacked">
          <% submission_value = submission_values_f.object %>
          <% question = submission_value.question %>
          <%= submission_values_f.hidden_field :question_id, value: question.id %>
          <%= submission_values_f.label :value do %>
            <%= question.name %>
            <span class="mini-label"><%= question.value_type %></span>
            <% unless question.is_emptyable? %>
              <span class="mini-label">required</span>
            <% end %>
            <% if submission_value.errors.any? %>
              <em>(<%= submission_value.errors[:value].join("; ") %>)</em>
            <% end %>
          <% end %>
          <% if question.date? %>
            <%= submission_values_f.date_field :value, required: !question.is_emptyable?, value: @old_submission&.submission_values&.find_by(question: question)&.value %>
          <% else %>
            <%= submission_values_f.text_field :value, required: !question.is_emptyable?, pattern: question.valid_pattern, value: @old_submission&.submission_values&.find_by(question: question)&.value %>
          <% end %>
        </fieldset>
    <% end %>

    <div class="actions">
      <%= f.submit "save submission", class: "button" %>
      <%= link_to new_questionnaire_submission_path(@questionnaire, prefill_with_prev_submission: true), class: "button" do %>
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M360-280q-33 0-56.5-23.5T280-360v-400q0-33 23.5-56.5T360-840h400q33 0 56.5 23.5T840-760v400q0 33-23.5 56.5T760-280H360Zm0-80h400v-400H360v400ZM200-200v80q-33 0-56.5-23.5T120-200h80Zm-80-80v-80h80v80h-80Zm0-160v-80h80v80h-80Zm0-160v-80h80v80h-80Zm160 480v-80h80v80h-80Zm160 0v-80h80v80h-80Zm160 0v-80h80v80h-80Z"/></svg>
        prefill with previous submission
      <% end %>
    </div>
  <% end %>
</div>
