<div class="card card--no-line">
  <h1><%= @questionnaire.title %></h1>
  <p><%= @questionnaire.description %></p>
</div>

<%= render 'questionnaires/subnavbar' %>

<div class="card">
  <%= form_with(model: @submission, url: questionnaire_submissions_path(@questionnaire), method: :post) do |f| %>
      <%= f.fields_for :submission_values do |submission_values_f| %>
        <fieldset class="field field--stacked">
          <% question = submission_values_f.object.question %>
          <%= submission_values_f.hidden_field :question_id, value: question.id %>
          <%= submission_values_f.label :value do %>
            <%= question.name %> <span class="mini-label"><%= question.value_type %></span>
            <% if submission_values_f.object.errors.any? %>
              <em>(<%= submission_values_f.object.errors[:value].join("; ") %>)</em>
            <% end %>
          <% end %>
          <%= submission_values_f.text_field :value %>
        </fieldset>
    <% end %>

    <div class="actions">
      <%= f.submit "save submission", class: "button" %>
    </div>
  <% end %>
</div>
