<h1>Create Questionnaires</h1>

<div class="card">
  <footer>
  <%= form_with(model: @questionnaire) do |f| %>
    <% if @questionnaire.errors.any? %>
      <div class="card">
        <div id="error_explanation" data-turbo-cache="false">
          <ul>
            <% @questionnaire.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <fieldset class="field">
      <%= f.label :title %>
      <%= f.text_field :title, autofocus: true %>
    </fieldset>

    <fieldset class="field">
      <%= f.label :description %>
      <%=
        f.text_area :description, autofocus: true,
          style: "resize: vertical; min-height: 100px"
      %>
    </fieldset>

    <section style="padding: 0;">
      <%= f.button "add question", type: :button, data: { behaviour: 'add-question-form' } %>

      <section data-target="questions-wrapper">
      </section>

      <template data-target="question-form-template">
        <div class="card">
          <footer>
            <%= f.fields_for :questions, @questionnaire.questions.new, child_index: 'CHILDIDTEMPLATE' do |question_f| %>
              <fieldset class="field">
                <%= question_f.label :name %>
                <%= question_f.text_field :name, autofocus: true %>
              </fieldset>

              <fieldset class="field">
                <%= question_f.label :description %>
                <%=
                  question_f.text_area :description, autofocus: true,
                    style: "resize: vertical; min-height: 50px"
                %>
              </fieldset>

              <fieldset class="field">
                <%= question_f.label :value_type %>
                <%= question_f.select :value_type, Question.value_types %>
              </fieldset>

              <fieldset class="field">
                <%= question_f.check_box :is_emptyable %>
                <%= question_f.label :is_emptyable, class: "checkable" %>
              </fieldset>

              <fieldset class="field">
                <%= f.button "remove", type: :button, data: { behaviour: 'remove-question-form' } %>
              </fieldset>
            <% end %>
          </footer>
        </div>
      </template>
    </section>

    <div class="actions">
      <%= f.submit "create questionnaire" %>
    </div>
  <% end %>
  </footer>
</div>
