<div class="card card--no-line">
  <h1><%= @questionnaire.title %></h1>
  <p><%= @questionnaire.description %></p>
</div>

<%= render 'questionnaires/subnavbar' %>

<div class="card" style="overflow: scroll;">
  <table>
    <tr>
      <% @questionnaire.questions.each do |question| %>
        <th><%= question.name %></th>
      <% end %>
    </tr>
    <% @questionnaire.submissions.each do |submission| %>
      <tr>
        <% submission.submission_values.each do |submission_value| %>
          <td><%= submission_value.value %></td>
        <% end %>
        <td style="display: flex; gap: 2px;">
          <%= link_to "edit", edit_questionnaire_submission_path(@questionnaire, submission), class: "button" %>
          <button class="button">remove</button>
        </td>
      </tr>
    <% end %>
  </table>
</div>
