<!DOCTYPE html>
<html>
  <head>
    <title>Entrii</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body style="margin: 0;">
    <%= render 'layouts/navbar' %>
    <main>
      <% if notice %>
      <div class="flex one center two-700" style="padding: 0px 16px; margin: 8px 0px;">
        <div class="notice card">
          <header><%= fa_icon "check-square" %> <%= notice %></header>
        </div>
      </div>
      <% end %>

      <% if alert %>
      <div class="flex one center two-700" style="padding: 0px 16px; margin: 8px 0px;">
        <div class="alert card">
          <header><%= fa_icon "warning" %> <%= alert %></header>
        </div>
      </div>
      <% end %>

      <div class="flex one center two-700" style="padding: 0px 16px;">
        <div>
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
